{% extends "base_article.twig" %}


{% block main %}
      <header
          class=" bg-[url('./images/groupe.jfif')] h-[660px] bg-cover bg-center bg-no-repeat items-end flex justify-start ">
  
          <h1 class="bg-[#DD523F] text-white py-4 w-fit px-5 text-6xl font-bold mb-16 drop-shadow-md mt-10"> Crédits</h1>
          
  
      </header>
      <main class="mx-52 pt-14">
          <h2 class="text-3xl  font-bold mb-5 border-b-4 border-[#DD523F] w-fit px-2">Remerciements</h1>
          <p class="pb-10">Après quatre semaines de travail, nous sommes fiers de vous présenter cette production ! Merci à tous les interlocuteurs qui nous ont donné de leur temps et ouvert leurs fermes, bureaux et refuges. Merci aussi à nos encadrants, qui nous ont accompagnés dans l’élaboration de nos sujets, ont patiemment écouté nos idées de jeux de mots et relu nos papiers. Surtout, mille mercis à tous les animaux qui ont posé pour nos photos, dont nous avons inspecté les conditions de vie et gratouillé la tête. 
          </p>
          <h2 class="text-3xl border-b-4 border-[#DD523F] font-bold mb-3 w-fit px-2">Membres du projet</h1>
          <div class="mx-16">
              <div class="flex my-10 justify-center align-middle ">
                  <div class="pr-20 max-w-[50%]">
                      <h3 class="text-2xl pb-4 font-bold">Directeur de la publication :</h2>
                      <p class="pb-4 ml-8 text-xl">Christophe Deleu</p>
                      <h3 class="text-2xl pb-4 font-bold">Rédactrice et Rédacteur en chef :</h2>
                      <p class="pb-4 ml-8 text-xl">Emilie Autin et Dorian Mao</p>
                      <h3 class="text-2xl pb-4 font-bold">Responsables d'édition :</h2>
                      <p class="pb-4 ml-8 text-xl">Martin Hortin et Louise Llavori</p>
                      <h3 class="text-2xl pb-4 font-bold">Responsables iconographie :</h2>
                      <p class="pb-4 ml-8 text-xl">Marleen Beisheim et Corentin Chabot</p>
                      <h3 class="text-2xl pb-4 font-bold">Comptabilité :</h2>
                      <p class="pb-4 ml-8 text-xl">Julien Rossignol</p>
                      <h3 class="text-2xl pb-4 font-bold">Encadrement :</h2>
                      <p class="pb-4 ml-8 text-xl">Jean-Baptiste Bailly, David Cazier, Christophe Deleu, Joseph Pasquier,
                          Alain Peter et Mathias Thura </p>
                      <h3 class="text-2xl pb-4 font-bold">Equipe WEB :</h2>
                      <p class="pb-4 ml-8 text-xl max-w-xm"> Clara Goepp, Mickael Joly, Nicolas Klein, Axel Pointud, Eric Wagner</p>
                      <h3 class="text-2xl pb-4 font-bold">Rédactrices et rédacteurs :</h2>
                      <p class="pb-4 ml-8 text-xl max-w-xm">Emilie Autin, Léo Bagage, Marleen Beisheim, Clémence Blanche,
                          Lucia Bramert, Pierre-Mickaël Carniel, Liza Foesser-Eckert, Camille
                          Gagne Chabrol, Nils Hollenstein, Martin Hortin, Paul Le Guen, Louise Llavori, Dorian Mao, Julien
                          Rossignol, Delphine Schiltz, Caroline Schneider, Juliette Vienot de Vaublanc et Undine Weimar-Dittmar</p>
                  </div>
                  <div class="h-fit">
                      <img class="w-[500px] ml-2 pb-8" src="./images/cuej.jpeg" alt="">
                      <img class="w-[500px] ml-2 pb-8" src="./images/image.jpeg" alt="">
                      <img class="w-[500px] ml-2 pb-8" src="./images/reu.jpeg" alt="">
                  </div>
              </div>
          </div>
          <div class="flex justify-center pb-20 pt-6">
              <a target="_blank" class="w-[500px] px-10" href="https://cuej.unistra.fr/"><img src="./images/logo_cuej.png" alt="Logo CUEJ" class="non-agrandi"></a>
              <a target="_blank" class="w-[500px] px-10" href="https://iuthaguenau.unistra.fr/"><img src="./images/logo_hag.svg" alt="Logo IUT Haguenau" class="non-agrandi"></a>
          </div>
      </main>
{% endblock main %}