{% extends "base.twig" %}

{% block main %}
    <form action="index.php?action=new_article" method="post" enctype="multipart/form-data">
            <div class="form_post">
                <div class="form_form">
                    <input type="text" name="article_name" id="article_name" placeholder="Nom de l'article" class="form_input">
                    <input type="text" name="article_desc" id="article_desc" placeholder="Meta Descritpion" class="form_input">
                    <p style="font-size: 8pt; margin-top: -1rem; text-align:center;">VISIBLE QUE SI LE SITE EST REFERENCE SUR LE WEB</p>
                    <input type="text" name="article_chapo" id="article_chapo" placeholder="Chapô de l'article" class="form_input">
                    <input type="text" name="article_auteur" id="article_auteur" placeholder="Auteur de l'article" class="form_input">
                    <input type="number" name="article_time" id="article_time" placeholder="Temps de lecture de l'article" class="form_input">
                    <div class="form_input">
                        <label for="imgInp">
                            Changer l'image
                            <input type="file" name="article_img" id="imgInp" accept="image/*"/>
                        </label>
                    </div>
                    <select name="article_page" id="article_page" class="form_input">
                        <option value="">Choisir une page</option>
                        <option value="">▬▬▬ Les pages disponnibles ▬▬▬</option>
                        {% for page in pages %}
                            <option value="{{page.id}}">{{page.page_name}}</option>                            
                        {% endfor %}
                    </select>
                </div>
                <div class="form_img">
                    <img id="blah" src="https://cdn-icons-png.flaticon.com/512/73/73775.png" alt="">
                </div>
            </div>
            <input type="submit" value="Valider" class="form_input_submit" name="submit">
        </form>
        <p class="delete_entry">Préférez-vous supprimer un article ?<br><a href="index.php?action=delete_article">Cliquez ici !</a></p>

{% endblock main %}