{% extends "base.twig" %}

{% block main %}
    <form action="index.php?action=article_parametres" method="post">
        <select name="article_to_edit" id="article_to_edit" class="form_input">
            <option value="">---Choississez un article à Editer ---</option>
            
            {% for article in articles %}
                <option value="{{article.id}}">{{article.article_name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Valider" class="form_input_submit">
    </form>
{% endblock main %}