{% extends "base.twig" %}

{% block main %}
        <div class="main_accueil">
            <p>Bienvenue sur la page d'accueil de votre CMS.<br>Veuillez choisir ce que vous voulez faire!</p>
            <a href="./index.php?action=site_accueil">Affichage</a>
        </div>
{% endblock main %}