
        ::-webkit-scrollbar {
            display: none;
        }
        
        .example {
            -ms-overflow-style: none;
            
        }

        .progress_bar {
            height: 10px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        }